/* ASIDE */

.aside_right {
  width: 8%;
  height: 60%;
  float: right;
  display: inline;
  margin-top: 2%;
  margin-right: 4%;
  border:solid 1px black;
}

.aside_left {
  width: 18%;
  height: 60%;
  float: left;
  display: inline;
  margin-right: 1%;
  margin-left: 1%;

}

.as_im1 {
  width: 80%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9%;
  margin-bottom: 5%;

}

.as_im2 {
  width: 80%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;

}

.as_im3 {
  margin-left: 10%;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.as_im4 {
  margin-left: 10%;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
