/* ASIDE */
#aside_right {

  width: 12%;
  height: 80%;
  float: right;
  display: inline-block;
  margin-top: 2%;
  margin-right: 4%;
  border:solid 1px black;
}

#aside_left {

  width: 12%;
  height: 80%;
  float: left;
  display: inline-block;
  margin-right: 3%;
  margin-left: 4%;

}

#as_im1 {
  width: 80%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9%;
  margin-bottom: 5%;

}

#as_im2 {
  width: 80%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;

}

#as_im3 {
  margin-left: 10%;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#as_im4 {
  margin-left: 10%;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
