<div id="top">
  <div id="menu">
    <input type="checkbox" class="checkbox__hack" id="checkbox__hack">
    <label for="checkbox__hack" class="checkbox-hack__label"></label>
    <nav class="nav--top">
      <ul class="menu-lateral nav--top__list">
        <li class="menu-lateral__item"><a href="">01. Logo</a></li>
        <li class="menu-lateral__item"><a href="">02. Colores</a></li>
        <li class="menu-lateral__item"><a href="">03. Tipografía</a></li>
        <li class="menu-lateral__item"><a href="">04. Botones</a></li>
        <li class="menu-lateral__item"><a href="">05. Grilla base</a></li>
      </ul>
    </nav>
  </div>
  <div id="title">
    <h2> YOUR CLOTHES </h2>
  </div>
  <div id="logo">
    <a href="logo.html"><img src="../../assets/logo_bo.png"></a>
  </div>
</div>
