<div id="contingut">

  <div id="info1">
    <img src="../../assets/logo_bo.png" alt=".">
  </div>
  <div id="info2">
    <p> YourClothes és una botiga de roba de tots els estils, a més de contar amb un gran catàleg on escollir i trobar roba del teu estil, podras innovar i anar a la moda. Disposem unicament de botiga virtual amb enviament  disponible a Espanya.</p>
  </div>
  <div id="info3">
    <h2> FES-TE VEURE AMB EL TEU ESTIL DE VESTIR "YC" </h2>
    <br>
    <video src="Vídeo%20promocional%20Moda.mp4" autoplay controls ></video>
  </div>
</div>
