#contingut {
  width: 60%;
  height: 80%;
  background: linear-gradient(lightsteelblue, grey);
  float: right;
  margin-right: 4%;
  border: solid 1px black;

}
/* Primer bloc de informació*/
#info1 {
  width: 30%;
  height: 25%;
  float: left;
  margin-top: 4%;
  margin-left: 8%;
}

#info1 img {
  width: 80%;
  height: 80%;
  margin-top: 7%;
  margin-left: 10%;
  border: solid 1px black;
}
/*Segon bloc de info*/
#info2 {
  width: 50%;
  height: 25%;
  float: left;
  margin: 4%;
}
#info2 p {
  margin-top: 7%;
  margin-left: 8%;
  margin-right: 8%;
  font-size: 20px;
  font-weight: bolder;

}
/* Tercer bloc de info*/
#info3 {
  width: 80%;
  height: 50%;
  float: left;
  margin-left: 10%;
}
#info3 h2 {
  font-size: 20px;
  margin-left:20%;
  text-shadow: 3px 6px white;
  color: black
}
#info3 video {
  width: 80%;
  height: 80%;
  margin-left: 10%;
}
